
<button type="button" class="btn btn-primary float-right m-2" 
data-bs-toggle="modal" data-bs-target="#exampleModal"
(clic)="addClick()"
data-backdrop="static" data-keyboard="false">

    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-plus-fill"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
            d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5V8z">
        </path>
    </svg>
    Insert New Product
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Insertar nuevo Producto{{InsertarNuevoProducto}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="closeClick()"></button>
            </div>
            <div class="modal-body">
                <!--Insertar campos para nueva categoria-->
                <app-insert-update-prod ><!--[prod]="prod" *ngIf="ActivateInsertUpdateProdComp"-->
                   

                </app-insert-update-prod>
            </div>

        </div>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Product Id</th>
            <th>Options</th>
        </tr>

    </thead>

    <tbody>
        <tr *ngFor="let dataItem of ProductsList">
            <td>{{data.ProductName}}</td>
            <td>{{data.ProductId}}</td>
            <td>
                <button type="button" class="btn btn-light mr-1">
                    Update
                </button> >
                <button type="button" class="btn btn-light mr-1">
                    Delete
                </button> >

            </td>

        </tr>

    </tbody>
</table>

