<div class="container">
    <label for="category name"></label>
    <input type="text" value="Ingrese el nombre"> Category Name
    <br>
    <label for="category description"></label>
    <input type="text" value="Ingrese la descripción"> Category description 
    
    <button class="btn btn-danger" type="button float-left">Limpiar Campos</button>
    <hr>
    <button class="btn btn-success" type="button float-left">Guardar</button>
    <button type="button float-left" class="btn btn-danger" data-bs-dismiss="modal" >Cancelar</button>
</div>