<div class="jumbotron">
    <h1>Laboratorio .NET/Angular </h1>
    <p class="lead">Creacion de una Web API para el manejo de base de datos</p>
   
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Lista de Categorias</h2>
        <p>En el boton se encuentra el enlace para el indice de las categorias.</p>
        <p><a href="https://localhost:44348/Category" class="btn btn-success">Categories &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Lista de Productos</h2>
        <p>En el boton se encuentra el enlace para el indice de las categorias..</p>
        <p><a class="btn btn-success" href="https://localhost:44348/Product">Products &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>API Publica</h2>
        <p>Consulta de una Api publica.</p>
        <p><a class="btn btn-success" href="https://localhost:44348/Api">Digimon API &raquo;</a></p>
    </div>
</div>
