@model List<LabNet.TP_EF.API.Models.Root>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Level</th>
            <th scope="col">Image</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var root in Model)
        {
            <tr>
                <td>@root.name</td>
                <td>@root.level</td>
                <td>@root.img</td>
            </tr>
        }
    </tbody>
</body>
</html>
