@model List<LabNet.TP_EF.API.Models.SwView>

@{
    ViewBag.Title = "Star Wars API";
}   

<table class="table table-dark">
    <thead class="thead-dark">
        <tr>

            
            <th scope="row">name</th>
            <th scope="row">height</th>

        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <th scope="row">@item.name</th>
            <th scope="row">@item.height</th>



        </tr>
    }
</table>


    <h2>ApiView</h2>

